<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css" type="text/css" >
</head>
<body>


<ul class="nav nav-pills nav-fill">
    <li class="nav-item"><a class="nav-link" href="/">Главная</a><br></li>
    <li class="nav-item"><a class="nav-link active" href="/employee">Сотрудники</a><br></li>
    <li class="nav-item"><a class="nav-link" href="/budget">Бюджет</a><br></li>
    <li class="nav-item"><a class="nav-link" href="/ingredient">Ингредиенты</a><br></li>
    <li class="nav-item"><a class="nav-link" href="/material">Материалы</a><br></li>
    <li class="nav-item"><a class="nav-link" href="/position">Должности</a><br></li>
    <li class="nav-item"><a class="nav-link" href="/product">Продукты</a><br></li>
    <li class="nav-item"><a class="nav-link" href="/production">Производства</a><br></li>
    <li class="nav-item"><a class="nav-link" href="/purchase">Закупка</a><br></li>
    <li class="nav-item"><a class="nav-link" href="/sale">Продажа</a><br></li>
    <li class="nav-item"><a class="nav-link" href="/salary">Зарплаты</a><br></li>
</ul>

<!--<div>-->
<!--    <form action="#" th:action="@{/employee/edit/{id}(id=${employeeEdit.id})}" method="post" th:object="${employeeEdit}">-->

<!--        <label for="fullName">Имя</label>-->
<!--        <input type="text" id="fullName" th:field="*{fullName}">-->

<!--        <label for="salary">Зарплата</label>-->
<!--        <input type="text" id="salary" th:field="*{salary}">-->

<!--        <label for="address">Адрес</label>-->
<!--        <input type="text" id="address" th:field="*{address}">-->

<!--        <label for="phone">Номер телефона</label>-->
<!--        <input type="text" id="phone" th:field="*{phone}">-->

<!--        <label for="positionList">Позиция</label>-->
<!--        <select class="form-select" id="positionList" th:field="${employeeEdit.position}">-->
<!--            <option th:value="null"></option>-->
<!--            <option th:each="position : ${positions}" th:value="${position.id}" th:text="${position.name}"></option>-->
<!--        </select>-->


<!--        <button type="submit" value="Add User">Сохранить</button>-->
<!--    </form>-->

<!--</div>-->


<div class="pl-5">
    <h1 class="header"> Редактирование сотрудников</h1>
    <form action="#" th:action="@{/employee/edit/{id}(id=${employeeEdit.id})}" method="post" th:object="${employeeEdit}">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="fullName">Имя</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="fullName" th:field="*{fullName}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="salary">Зарплата</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="salary" th:field="*{salary}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="address">Адрес</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="address" th:field="*{address}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="phone">Номер телефона</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="phone" th:field="*{phone}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="positionList">Позиция</label>
            <div class="col-sm-5">
                <select class="form-control"  id="positionList" th:field="${employeeEdit.position}">
                    <option th:value="null"></option>
                    <option th:each="position : ${positions}" th:value="${position.id}"
                            th:text="${position.name}"></option>
                </select>
            </div>
        </div>

        <button class="btn btn-success" type="submit" value="Сохранить">Сохранить</button>
    </form>

</div>


</body>
</html>